div {
    width: 600px;
    min-height: 300px;
    border: 3px solid black;
}

#p-div p {
    background-color: black;
    color: white;
    padding: 10px;
}


#img-div {
    display: none;
}
